@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.logo {
  width: 200px;
  height: 200px;
}

header {
  height: 400px;
  margin-top: 100px;
  text-align: center;
}

figcaption {
  padding: 10px;
  font-size: 20px;
  color: grey;
}

form input[type=text] {
  width: 80%;
  min-width: 100px;
  line-height: 32px;
  padding-left: 10px;
  outline: none;
  border: solid 1px #FB6769;
  border-radius: 2%;
  transition: box-shadow ease-in-out .2s;
}

form input[type=text]:focus {
  box-shadow: -2px -2px 30px -5px #FB6769;
}

form input[type=submit] {
  background-color: #ffffff;
  color: #FB6769;
  width: 15%;
  margin-left: 4%;
  line-height: 30px;
  outline: none;
  border: solid 3px #FB6769;
  border-radius: 2%;
  transition: all ease-in-out .2s;
  &:hover {
    cursor: pointer;
    background-color: #FB6769;
    color: #ffffff;
  }
}

.gifs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 50px;
}

.gif {
  padding: 10px;
}

.control-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  margin-bottom: 30px;
}

fieldset {
  color: grey;
  border: none;
  width: 33%;
}

legend {
  margin-bottom: 20px;
}

input[type=radio] {
  display: none;
}

label {
  display: inline-block;
  width: 100px;
  padding: 10px 20px 10px 20px;
  margin: 5px;
  border: solid 1px #FB6769;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}

input[type="radio"]:checked + label {
  color: white;
  background-color: #FB6769;
}